<html>
    <head>
        <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAbDsq1WKNoROj-ZGyqQ4o0hRE5teG-u3U1FFRhnuyaKFH_tUAWBTDzV35JQzVwPKq8tpp1xHwJN3vAw"></script>
        <script type="text/javascript">google.load("jquery", "1.7.1");</script>
        <script type="text/javascript">
            $(document).ready(function() {
                var $spinner = $('#spinner');
                jQuery.fn.no_spam=function(){return this.each(function(){var a=$(this),c=a.text().replace(/\s*\[h\]\s*/,"@").replace(/\s*\[p\]\s*/g,".");c=c.split("|");var b=c[0],e="";e=c.length==2?c[1]:b;a.html('<a href="mailto:'+b+'">'+e+"</a>")})};
                $('#search').bind({
                    click: function() {
                        $spinner.show();
                        $.post('/', {
                                regex: $('#regex').val(),
                                perms: $('#perms').val(),
                                which: $('input[name=which]:checked').val()
                            }, function(data){
                                $results = $('#results').html('');
                                if(data.perms) {
                                    //console.log(data.perms)
                                    if(data.perms.errors.length>0) {
                                        alert(data.perms.errors);
                                    }
                                    $ul1 = $('<ul id="perms_results" />');
                                    $.each(data.perms.matches, function(i, el){
                                        var $li = $('<li />').text(el)
                                            .appendTo($ul1);
                                    });
                                    $ul1.appendTo($results);
                                }
                                if(data.regex) {
                                    //console.log(data.regex)
                                    if(data.regex.errors.length>0) {
                                        alert(data.regex.errors);
                                    }
                                    $ul2 = $('<ul id="regex_results" />');
                                    $.each(data.regex.matches, function(i, el){
                                        var $li = $('<li />').text(el)
                                            .appendTo($ul2);
                                    });
                                    $ul2.appendTo($results);
                                }
                                $spinner.hide();
                        }, 'json');
                    }
                });
                $('.nsp').no_spam();
                disableInput();

                $('input[type=radio]').click(function(){
                    disableInput();
                })
            });

            function disableInput() {
                $("input[type=radio]").each(function(i,e){
                    if (! $(this).is(':checked')) {
                        $(this).siblings('input').attr('disabled', 'disabled');
                    } else {
                        $(this).siblings('input').removeAttr('disabled').focus();
                    }
                });
            }


        </script>
        <style type="text/css">
            dt {
                font-weight: bold;
            }
        </style>
    </head>
<body>
    <h1>Krossgátuleit</h1>
    <p>Krossgátuleitin býður upp á tvær mismunandi tegundir af leit:</p>
    <dl>
        <dt>Orðhlutaleit</dt>
        <dd>Leitarvélin þarf að fá leitarorð sem er sama lengd og orðið sem leitað er að. Ef einhverjir stafir eða orðhlutar í orðinu eru óþekktir þarf að fylla upp í með punktum. Til dæmis finnur leitarorðið "fó.ur" orðin fónur, fóður, fórur og fótur. Leitarorðið ".." finnur öll tveggja stafa orð í orðalistanum.</dd>
        <dt>Stafarugl</dt>
        <dd>Leitarvélin þarf að fá alla stafi orðsins, í hvaða röð sem er. Til dæmis finnur leitarorðið "rðiuf" orðin fiður, fuðri og rifuð. Af tæknilegum ástæðum er ekki hægt að finna stafarugl sem er lengra en 10 stafir.</dd>
    </dl>
    <p>Orðalisti fenginn á: <a href="http://www.ordid.is/gogn/">Ordid.is</a></p>

    <div>
        <p><input type="radio" name="which" value="regex" checked="checked" /> Orðaleit: <input type="text" id="regex" name="regex" /> "fó.ur" finnur fóður, fórur og fótur. ".." Finnur öll tveggja stafa orð.</p>
        <p><input type="radio" name="which" value="perms"  /> Stafarugl: <input type="text" id="perms" name="perms" /> "rðiuf" finnur furði, fuðri, fiður og rifuð.</p>
        <p><input type="submit" id="search" value="Leita" /> <img id="spinner" src="static/images/ajax.gif" style="display:none;" /></p>
        <div id="results"></div>
    </div>
    <hr />
    <div>Höfundur: Sævar Öfjörð Magnússon <<span class="nsp">saevar [h] saevar [p] is</span>><br /><a href="http://github.com/saevarom/krossgata">Kóðinn er á Github.</a></div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34861221-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
